In [1]:
!pip install pyspark==3.3.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark==3.3.1
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 58.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=38baf428b8e0c544465b6faf589bb34e6dd666a35c50f247fa76487124cd5f23
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master('local[*]').appName("Transformacao com Spark").getOrCreate()

spark

In [4]:
!wget "https://caelum-online-public.s3.amazonaws.com/challenge-spark/semana-1.zip" && unzip semana-1.zip -d dados/

--2022-12-02 13:25:23--  https://caelum-online-public.s3.amazonaws.com/challenge-spark/semana-1.zip
Resolving caelum-online-public.s3.amazonaws.com (caelum-online-public.s3.amazonaws.com)... 52.217.10.228, 3.5.11.209, 52.217.170.201, ...
Connecting to caelum-online-public.s3.amazonaws.com (caelum-online-public.s3.amazonaws.com)|52.217.10.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18975214 (18M) [application/zip]
Saving to: ‘semana-1.zip’

semana-1.zip        100%[===================>]  18.10M  66.1MB/s    in 0.3s

2022-12-02 13:25:23 (66.1 MB/s) - ‘semana-1.zip’ saved [18975214/18975214]

Archive:  semana-1.zip
  inflating: dados/dataset_bruto.json

In [5]:
dados = spark.read.json('/content/dados/dataset_bruto.json')

In [6]:
dados.toPandas()

,anuncio,imagens,usuario
0,"(0, [], [16], [0], [], (Centro, 20061003, Rio ...","[(39d6282a-71f3-47bc-94aa-909351ecd881, https:...","(9d44563d-3405-4e84-9381-35b7cf40a9a4, Frank)"
1,"(0, [], [14], [0], [], (Centro, 20051040, Rio ...","[(23d2b3ab-45b0-47f2-a27f-ffbe066c2c38, https:...","(36245be7-70fe-40cd-84d4-70a57dc8f976, Caroline)"
2,"(0, [1026], [1026], [0], [], (Maria da Graça, ...","[(1da65baa-368b-490f-bef7-1834b9a428c1, https:...","(9dc415d8-1397-4d8d-8425-b8310fad309d, Oliver)"
3,"(0, [120], [120], [0], [Portão eletrônico, Con...","[(79b542c6-49b4-4f06-80b5-ef4fcdf98f76, https:...","(9911a2df-f299-4a73-a384-281417abaf69, Matthew)"
4,"(0, [3], [3], [0], [], (São Cristóvão, 2093167...","[(e2bc497b-6510-4731-8942-97b3d3cdab5e, https:...","(240a7aab-12e5-4069-9a2c-9dca4c4f9c68, Jude)"
...,...,...,...
89078,"(0, [], [219, 283], [4], [], (Barra da Tijuca,...","[(6445e6a2-ab4e-4635-8810-870664488db3, https:...","(ff6637f5-9fb1-4396-adae-327effb5f446, Bruce)"
89079,"(0, [], [200, 446], [3, 4], [], (Leblon, 22450...","[(7d9ccf17-96ab-49db-b601-0f0d5c2f7509, https:...","(9dd42b59-2f28-4022-88a6-4383e7890f73, Tyler)"
89080,"(0, [], [130, 150], [3], [], (Lagoa, 22471004,...","[(03b6e9aa-d622-458b-8fea-b7a708a905ee, https:...","(a06a18b3-4993-4f4b-b2e2-3e9e43fb9d3f, Malcolm)"
89081,"(0, [268], [268], [5], [], (Engenho de Dentro,...","[(0317b2ab-ddc8-45a7-8d96-583c793eb7d7, https:...","(f9292bf8-8f3f-476f-99fe-77caa979e99c, Adele)"
89082,"(0, [], [214, 448], [5, 6], [], (Lagoa, 224700...","[(43395bcc-f722-4fd6-8d15-dfaed703ee41, https:...","(acb67fb9-fb15-4119-a141-cbc653c5605a, Benedict)"

In [8]:
dados.printSchema()

root
 |-- anuncio: struct (nullable = true)
 |    |-- andar: long (nullable = true)
 |    |-- area_total: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- area_util: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- banheiros: array (nullable = true)
 |    |    |-- element: long (containsNull = true)
 |    |-- caracteristicas: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- endereco: struct (nullable = true)
 |    |    |-- bairro: string (nullable = true)
 |    |    |-- cep: string (nullable = true)
 |    |    |-- cidade: string (nullable = true)
 |    |    |-- estado: string (nullable = true)
 |    |    |-- latitude: double (nullable = true)
 |    |    |-- longitude: double (nullable = true)
 |    |    |-- pais: string (nullable = true)
 |    |    |-- rua: string (nullable = true)
 |    |    |-- zona: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- quartos: array (nullable = true)
 |    |    |-- element: long (containsNull = true)
 |    |-- suites: array (nullable = true)
 |    |    |-- element: long (containsNull = true)
 |    |-- tipo_anuncio: string (nullable = true)
 |    |-- tipo_unidade: string (nullable = true)
 |    |-- tipo_uso: string (nullable = true)
 |    |-- vaga: array (nullable = true)
 |    |    |-- element: long (containsNull = true)
 |    |-- valores: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- condominio: string (nullable = true)
 |    |    |    |-- iptu: string (nullable = true)
 |    |    |    |-- tipo: string (nullable = true)
 |    |    |    |-- valor: string (nullable = true)
 |-- imagens: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |-- usuario: struct (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- nome: string (nullable = true)

In [9]:
#Filtrando o Data Frame para eliminar as colunas 'imagens' e 'usuario'

anuncio = dados.select('anuncio.*')

anuncio.toPandas()

,andar,area_total,area_util,banheiros,caracteristicas,endereco,id,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,valores
0,0,[],[16],[0],[],"(Centro, 20061003, Rio de Janeiro, Rio de Jane...",47d553e0-79f2-4a46-9390-5a3c962740c2,[0],[0],Usado,Outros,Comercial,[1],"[(260, 107, Venda, 10000)]"
1,0,[],[14],[0],[],"(Centro, 20051040, Rio de Janeiro, Rio de Jane...",b6ffbae1-17f6-4870-9950-e998ac1c8d6a,[0],[],Usado,Outros,Comercial,[0],"[(260, 107, Venda, 10000)]"
2,0,[1026],[1026],[0],[],"(Maria da Graça, 20785360, Rio de Janeiro, Rio...",1fb030a5-9e3e-4a1d-93cd-cd2d8a215e11,[0],[],Usado,Outros,Comercial,[0],"[(None, 1613, Venda, 10000)]"
3,0,[120],[120],[0],"[Portão eletrônico, Condomínio fechado]","(Campo Grande, 23095071, Rio de Janeiro, Rio d...",ac6cb348-69d6-45af-9589-dc34099370d8,[0],[],Usado,Outros,Residencial,[],"[(80, None, Venda, 10000)]"
4,0,[3],[3],[0],[],"(São Cristóvão, 20931670, Rio de Janeiro, Rio ...",e032b908-ef42-4d4a-8125-eba4792bacbe,[0],[],Usado,Outros,Residencial,[],"[(0, 0, Venda, 5000)]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89078,0,[],"[219, 283]",[4],[],"(Barra da Tijuca, 22611030, Rio de Janeiro, Ri...",10f8eb1a-89f8-4ba8-aae0-078a3661353f,[4],[4],Lançamento,Outros,Residencial,"[1, 2]","[(0, 0, Venda, 3900000), (0, 0, Venda, 6000000)]"
89079,0,[],"[200, 446]","[3, 4]",[],"(Leblon, 22450140, Rio de Janeiro, Rio de Jane...",dca4c35b-ae00-486e-aeea-60b03957dfae,"[3, 4]","[3, 4]",Lançamento,Apartamento,Residencial,[1],"[(0, 0, Venda, 4220000)]"
89080,0,[],"[130, 150]",[3],[],"(Lagoa, 22471004, Rio de Janeiro, Rio de Janei...",c2cee5ec-1d04-4792-a9d0-7bf50824223d,"[2, 3]","[2, 3]",Lançamento,Apartamento,Residencial,"[1, 2]","[(0, 0, Venda, 4311297)]"
89081,0,[268],[268],[5],[],"(Engenho de Dentro, 20730140, Rio de Janeiro, ...",7f700a8e-b171-46ea-993b-461162f7afba,[4],[4],Lançamento,Apartamento,Residencial,[4],"[(0, 0, Venda, 4520008)]"
89082,0,[],"[214, 448]","[5, 6]",[],"(Lagoa, 22470040, Rio de Janeiro, Rio de Janei...",043041dc-025e-4a11-8f1d-8bba3c991324,[4],[4],Lançamento,Apartamento,Residencial,"[2, 3]","[(0, 0, Venda, 4636000)]"

In [10]:
#Analisando os dados {'tipo_uso':['Comercial', 'Residencial'], 'tipo_anuncio':['Usado', 'Lançamento'], 'tipo_unidade':['Outros', 'Apartamento', 'Casa']}

anuncio.groupBy('tipo_uso').count().show()
anuncio.groupBy('tipo_anuncio').count().show()
anuncio.groupBy('tipo_unidade').count().show()

+-----------+-----+
|   tipo_uso|count|
+-----------+-----+
|  Comercial| 4542|
|Residencial|84541|
+-----------+-----+

+------------+-----+
|tipo_anuncio|count|
+------------+-----+
|       Usado|88827|
|  Lançamento|  256|
+------------+-----+

+------------+-----+
|tipo_unidade|count|
+------------+-----+
|      Outros|11963|
| Apartamento|66801|
|        Casa|10319|
+------------+-----+

In [11]:
#Filtrando o Data Frame para elimenar os dados {'tipo_uso':['Residencial'], 'tipo_anuncio':['Lançamento'], 'tipo_unidade':['Outros', 'Casa']}

anuncio = anuncio.filter("tipo_uso == 'Residencial'")
anuncio = anuncio.filter("tipo_unidade == 'Apartamento'")
anuncio = anuncio.filter("tipo_anuncio == 'Usado'")

anuncio.toPandas()

,andar,area_total,area_util,banheiros,caracteristicas,endereco,id,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,valores
0,3,[43],[43],[1],"[Academia, Churrasqueira, Playground, Salão de...","(Paciência, 23585430, Rio de Janeiro, Rio de J...",d2e3a3aa-09b5-45a0-9dcd-918847cd3ca3,[2],[],Usado,Apartamento,Residencial,[1],"[(245, None, Venda, 15000)]"
1,2,[42],[42],[1],"[Churrasqueira, Playground, Salão de festas, C...","(Paciência, 23585430, Rio de Janeiro, Rio de J...",085bab2c-87ad-452a-bd0f-8b1451509f84,[2],[],Usado,Apartamento,Residencial,[1],"[(0, 0, Venda, 15000)]"
2,1,[41],[41],[1],"[Portaria 24h, Condomínio fechado, Playground,...","(Guaratiba, 23036060, Rio de Janeiro, Rio de J...",18d22cbe-1b86-4764-8def-70c615f15a61,[2],[],Usado,Apartamento,Residencial,[1],"[(0, 0, Venda, 20000)]"
3,3,[43],[43],[1],"[Churrasqueira, Piscina, Playground, Salão de ...","(Cosmos, 23066271, Rio de Janeiro, Rio de Jane...",bed8a354-9317-4426-b27e-1c798f864271,[2],[],Usado,Apartamento,Residencial,[0],"[(285, None, Venda, 20000)]"
4,2,[43],[43],[1],"[Academia, Churrasqueira, Playground, Salão de...","(Guaratiba, 23036060, Rio de Janeiro, Rio de J...",12a13315-d67f-48f0-9497-017b83252781,[2],[],Usado,Apartamento,Residencial,[1],"[(245, None, Venda, 15000)]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66557,20,[648],[648],[6],"[Academia, Churrasqueira, Piscina, Salão de fe...","(Barra da Tijuca, 22793082, Rio de Janeiro, Ri...",5831f3d1-e004-414e-b717-2f346a440295,[5],[5],Usado,Apartamento,Residencial,[4],"[(9654, 44629, Venda, 13785527)]"
66558,20,[],[648],[6],"[Academia, Churrasqueira, Piscina, Playground,...","(Barra da Tijuca, 22793082, Rio de Janeiro, Ri...",8577a5cf-b6c7-4b67-9f51-9dce456a493a,[5],[5],Usado,Apartamento,Residencial,[5],"[(8385, 44629, Venda, 13785527)]"
66559,20,[648],[648],[7],"[Academia, Condomínio fechado, Elevador, Pisci...","(Barra da Tijuca, 22793081, Rio de Janeiro, Ri...",db22bde4-838a-4ff1-8e85-cac62fd159f9,[5],[5],Usado,Apartamento,Residencial,[5],"[(10200, 39570, Venda, 13785527)]"
66560,1,[264],[264],[2],"[Condomínio fechado, Portão eletrônico, Portar...","(Ipanema, 22420004, Rio de Janeiro, Rio de Jan...",382599ac-7751-4ade-8a57-bb9633579a46,[3],[1],Usado,Apartamento,Residencial,[3],"[(3970, 3200, Venda, 13900000)]"
66561,0,[648],[648],[11],"[Piscina, Elevador, Playground]","(Barra da Tijuca, 22631000, Rio de Janeiro, Ri...",c823e3c7-02c7-459d-bb8a-a04847a0a839,[5],[5],Usado,Apartamento,Residencial,[5],"[(10170, 38400, Venda, 13900000)]"

In [12]:
from pyspark.sql import functions as f

In [13]:
#Analisando os a quantidade de elementos das listas registradas nas colunas 'quartos', 'suites', 'banheiros', 'vaga', 'area_total', 'area_util'

caracteristicas = ['quartos', 'suites', 'banheiros', 'vaga', 'area_total', 'area_util']

for i in caracteristicas:
  anuncio.select(f.size(f.col(i)).alias(i)).groupBy(i).count().show()

+-------+-----+
|quartos|count|
+-------+-----+
|      1|66562|
+-------+-----+

+------+-----+
|suites|count|
+------+-----+
|     1|61008|
|     0| 5554|
+------+-----+

+---------+-----+
|banheiros|count|
+---------+-----+
|        1|66562|
+---------+-----+

+----+-----+
|vaga|count|
+----+-----+
|   1|63545|
|   0| 3017|
+----+-----+

+----------+-----+
|area_total|count|
+----------+-----+
|         1|57368|
|         0| 9194|
+----------+-----+

+---------+-----+
|area_util|count|
+---------+-----+
|        1|66562|
+---------+-----+

In [14]:
#Convertendo os registros das colunas 'quartos', 'suites', 'banheiros', 'vaga', 'area_total', 'area_util' de lista para elemento
#OBS: No caso de listas com 1 elemento registra-se o elemento; No caso de listas vazias registra-se null

caracteristicas = ['quartos', 'suites', 'banheiros', 'vaga', 'area_total', 'area_util']

anuncio = anuncio.select([f.col(c)[0].alias(c) if c in caracteristicas else c for c in anuncio.columns])

anuncio.toPandas()

,andar,area_total,area_util,banheiros,caracteristicas,endereco,id,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,valores
0,3,43,43,1,"[Academia, Churrasqueira, Playground, Salão de...","(Paciência, 23585430, Rio de Janeiro, Rio de J...",d2e3a3aa-09b5-45a0-9dcd-918847cd3ca3,2,NaN,Usado,Apartamento,Residencial,1.0,"[(245, None, Venda, 15000)]"
1,2,42,42,1,"[Churrasqueira, Playground, Salão de festas, C...","(Paciência, 23585430, Rio de Janeiro, Rio de J...",085bab2c-87ad-452a-bd0f-8b1451509f84,2,NaN,Usado,Apartamento,Residencial,1.0,"[(0, 0, Venda, 15000)]"
2,1,41,41,1,"[Portaria 24h, Condomínio fechado, Playground,...","(Guaratiba, 23036060, Rio de Janeiro, Rio de J...",18d22cbe-1b86-4764-8def-70c615f15a61,2,NaN,Usado,Apartamento,Residencial,1.0,"[(0, 0, Venda, 20000)]"
3,3,43,43,1,"[Churrasqueira, Piscina, Playground, Salão de ...","(Cosmos, 23066271, Rio de Janeiro, Rio de Jane...",bed8a354-9317-4426-b27e-1c798f864271,2,NaN,Usado,Apartamento,Residencial,0.0,"[(285, None, Venda, 20000)]"
4,2,43,43,1,"[Academia, Churrasqueira, Playground, Salão de...","(Guaratiba, 23036060, Rio de Janeiro, Rio de J...",12a13315-d67f-48f0-9497-017b83252781,2,NaN,Usado,Apartamento,Residencial,1.0,"[(245, None, Venda, 15000)]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66557,20,648,648,6,"[Academia, Churrasqueira, Piscina, Salão de fe...","(Barra da Tijuca, 22793082, Rio de Janeiro, Ri...",5831f3d1-e004-414e-b717-2f346a440295,5,5.0,Usado,Apartamento,Residencial,4.0,"[(9654, 44629, Venda, 13785527)]"
66558,20,None,648,6,"[Academia, Churrasqueira, Piscina, Playground,...","(Barra da Tijuca, 22793082, Rio de Janeiro, Ri...",8577a5cf-b6c7-4b67-9f51-9dce456a493a,5,5.0,Usado,Apartamento,Residencial,5.0,"[(8385, 44629, Venda, 13785527)]"
66559,20,648,648,7,"[Academia, Condomínio fechado, Elevador, Pisci...","(Barra da Tijuca, 22793081, Rio de Janeiro, Ri...",db22bde4-838a-4ff1-8e85-cac62fd159f9,5,5.0,Usado,Apartamento,Residencial,5.0,"[(10200, 39570, Venda, 13785527)]"
66560,1,264,264,2,"[Condomínio fechado, Portão eletrônico, Portar...","(Ipanema, 22420004, Rio de Janeiro, Rio de Jan...",382599ac-7751-4ade-8a57-bb9633579a46,3,1.0,Usado,Apartamento,Residencial,3.0,"[(3970, 3200, Venda, 13900000)]"
66561,0,648,648,11,"[Piscina, Elevador, Playground]","(Barra da Tijuca, 22631000, Rio de Janeiro, Ri...",c823e3c7-02c7-459d-bb8a-a04847a0a839,5,5.0,Usado,Apartamento,Residencial,5.0,"[(10170, 38400, Venda, 13900000)]"

In [15]:
#Verifica-se que nem todos os valores de venda estão na primeira célula
valores = anuncio.select('id', 'valores.condominio', 'valores.iptu', 'valores.tipo', 'valores.valor')
valores.show()
valores.groupBy('tipo').count().show()

#Como os valores de condominio e iptu são iguais para venda e aluguel não recebem tratamento
caracteristicas = ['condominio', 'iptu']
valores = valores.select([f.col(c)[0].alias(c) if c in caracteristicas else c for c in valores.columns])
valores.show()

#Tratamento dos dados de valor de compra
from pyspark.sql.functions import when
valores = valores.withColumn("valor", when(valores.tipo[0]=='Venda', valores.valor[0]).when(valores.tipo[1]=='Venda', valores.valor[1]))
valores = valores.withColumn("tipo", when(valores.tipo[0]=='Venda', valores.tipo[0]).when(valores.tipo[1]=='Venda', valores.tipo[1]))
valores.show()
valores.groupBy('tipo').count().show()

+--------------------+----------+------+-------+-------+
|                  id|condominio|  iptu|   tipo|  valor|
+--------------------+----------+------+-------+-------+
|d2e3a3aa-09b5-45a...|     [245]|[null]|[Venda]|[15000]|
|085bab2c-87ad-452...|       [0]|   [0]|[Venda]|[15000]|
|18d22cbe-1b86-476...|       [0]|   [0]|[Venda]|[20000]|
|bed8a354-9317-442...|     [285]|[null]|[Venda]|[20000]|
|12a13315-d67f-48f...|     [245]|[null]|[Venda]|[15000]|
|a2e6d7a5-0ff0-484...|     [285]|[null]|[Venda]|[20000]|
|a6e3173b-c950-4db...|     [250]|[null]|[Venda]|[15000]|
|2e6e5dfb-206c-496...|     [245]|[null]|[Venda]|[15000]|
|99f8d0f9-95a4-461...|     [245]|[null]|[Venda]|[15000]|
|b3f44c1a-2d50-4d5...|     [240]|[null]|[Venda]|[17999]|
|dc99d9e1-4c63-41f...|       [0]|   [0]|[Venda]|[15000]|
|aa3606d8-8bcd-45e...|     [240]|   [0]|[Venda]|[19999]|
|df80b0d5-677c-4be...|     [245]|[null]|[Venda]|[19999]|
|3d6c0218-9b7d-474...|     [290]|[null]|[Venda]|[25000]|
|304266cc-62d1-4ce...|     [285]|[null]|[Venda]|[29999]|
|111472a2-afa1-4a7...|       [0]|   [0]|[Venda]|[30000]|
|275c1589-6537-4bf...|    [null]|[null]|[Venda]|[30000]|
|ab8f367f-7509-45c...|     [280]|   [0]|[Venda]|[25000]|
|e0a3d370-66dd-4f5...|     [280]|[null]|[Venda]|[27999]|
|09c8ba2d-dbf1-487...|       [0]|   [0]|[Venda]|[26000]|
+--------------------+----------+------+-------+-------+
only showing top 20 rows

+----------------+-----+
|            tipo|count|
+----------------+-----+
|[Venda, Aluguel]|  407|
|[Aluguel, Venda]|  214|
|         [Venda]|65941|
+----------------+-----+

+--------------------+----------+----+-------+-------+
|                  id|condominio|iptu|   tipo|  valor|
+--------------------+----------+----+-------+-------+
|d2e3a3aa-09b5-45a...|       245|null|[Venda]|[15000]|
|085bab2c-87ad-452...|         0|   0|[Venda]|[15000]|
|18d22cbe-1b86-476...|         0|   0|[Venda]|[20000]|
|bed8a354-9317-442...|       285|null|[Venda]|[20000]|
|12a13315-d67f-48f...|       245|null|[Venda]|[15000]|
|a2e6d7a5-0ff0-484...|       285|null|[Venda]|[20000]|
|a6e3173b-c950-4db...|       250|null|[Venda]|[15000]|
|2e6e5dfb-206c-496...|       245|null|[Venda]|[15000]|
|99f8d0f9-95a4-461...|       245|null|[Venda]|[15000]|
|b3f44c1a-2d50-4d5...|       240|null|[Venda]|[17999]|
|dc99d9e1-4c63-41f...|         0|   0|[Venda]|[15000]|
|aa3606d8-8bcd-45e...|       240|   0|[Venda]|[19999]|
|df80b0d5-677c-4be...|       245|null|[Venda]|[19999]|
|3d6c0218-9b7d-474...|       290|null|[Venda]|[25000]|
|304266cc-62d1-4ce...|       285|null|[Venda]|[29999]|
|111472a2-afa1-4a7...|         0|   0|[Venda]|[30000]|
|275c1589-6537-4bf...|      null|null|[Venda]|[30000]|
|ab8f367f-7509-45c...|       280|   0|[Venda]|[25000]|
|e0a3d370-66dd-4f5...|       280|null|[Venda]|[27999]|
|09c8ba2d-dbf1-487...|         0|   0|[Venda]|[26000]|
+--------------------+----------+----+-------+-------+
only showing top 20 rows

+-----+-----+
| tipo|count|
+-----+-----+
|Venda|66562|
+-----+-----+

In [16]:
anuncio = anuncio.join(valores, 'id', how='left').drop('valores')
anuncio.toPandas()

,id,andar,area_total,area_util,banheiros,caracteristicas,endereco,quartos,suites,tipo_anuncio,tipo_unidade,tipo_uso,vaga,condominio,iptu,tipo,valor
0,03a386b6-7ab8-4eff-891d-f8a16efc1989,0,43,43,1,"[Churrasqueira, Academia, Playground, Salão de...","(Realengo, 21725180, Rio de Janeiro, Rio de Ja...",2,NaN,Usado,Apartamento,Residencial,1.0,285,None,Venda,22999
1,1fe78d41-b8e0-4d21-a1a8-72cb7863f441,0,44,44,1,[],"(Irajá, 21230043, Rio de Janeiro, Rio de Janei...",2,0.0,Usado,Apartamento,Residencial,0.0,170,0,Venda,110000
2,1fa1c1e5-e98c-433f-9675-1b43d7d6da01,4,None,55,1,[],"(Cosmos, 23058001, Rio de Janeiro, Rio de Jane...",2,0.0,Usado,Apartamento,Residencial,1.0,None,None,Venda,115000
3,a6ab01ae-3d40-40e7-bb6a-f2334e0abbe0,2,None,55,1,[],"(Tomás Coelho, 20750330, Rio de Janeiro, Rio d...",2,0.0,Usado,Apartamento,Residencial,0.0,None,None,Venda,115000
4,1d8ff7a2-16bd-4e3f-a92e-1b85f923ebb0,0,None,50,1,[],"(Centro, 20090002, Rio de Janeiro, Rio de Jane...",1,NaN,Usado,Apartamento,Residencial,0.0,1300,2679,Venda,125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66557,07c8609a-b43a-4dd2-aefe-2ea7ab1099ac,3,381,381,6,"[Elevador, Academia, Churrasqueira, Piscina, P...","(Barra da Tijuca, 22793081, Rio de Janeiro, Ri...",4,4.0,Usado,Apartamento,Residencial,4.0,6000,18000,Venda,6400000
66558,e199b2cf-a57d-4788-afb1-35a028397ce5,0,555,555,7,"[Academia, Churrasqueira, Condomínio fechado, ...","(Barra da Tijuca, 22793081, Rio de Janeiro, Ri...",3,3.0,Usado,Apartamento,Residencial,5.0,8030,2094,Venda,7020632
66559,6c2564d2-2e6e-4816-9c4c-7e40a4e8d40b,0,648,648,5,"[Academia, Salão de festas, Playground, Elevad...","(Barra da Tijuca, 22793080, Rio de Janeiro, Ri...",5,4.0,Usado,Apartamento,Residencial,4.0,1000,1000,Venda,8500000
66560,79bd3a12-3e8b-4c73-96ed-7908f423fd0e,10,567,567,5,"[Elevador, Churrasqueira, Piscina, Condomínio ...","(Lagoa, 22470001, Rio de Janeiro, Rio de Janei...",4,4.0,Usado,Apartamento,Residencial,4.0,4590,2500,Venda,9990000
66561,8a1899d4-1107-45a9-af7d-472a7d0c6319,12,477,477,6,"[Academia, Churrasqueira, Piscina, Playground,...","(Barra da Tijuca, 22793081, Rio de Janeiro, Ri...",4,4.0,Usado,Apartamento,Residencial,5.0,0,0,Venda,12000000

In [17]:
endereco = anuncio.select('id', 'endereco.bairro', 'endereco.zona')
endereco.toPandas()

                                         id           bairro        zona
0      d2e3a3aa-09b5-45a0-9dcd-918847cd3ca3        Paciência  Zona Oeste
1      085bab2c-87ad-452a-bd0f-8b1451509f84        Paciência  Zona Oeste
2      18d22cbe-1b86-4764-8def-70c615f15a61        Guaratiba  Zona Oeste
3      bed8a354-9317-4426-b27e-1c798f864271           Cosmos  Zona Oeste
4      12a13315-d67f-48f0-9497-017b83252781        Guaratiba  Zona Oeste
...                                     ...              ...         ...
66557  5831f3d1-e004-414e-b717-2f346a440295  Barra da Tijuca  Zona Oeste
66558  8577a5cf-b6c7-4b67-9f51-9dce456a493a  Barra da Tijuca  Zona Oeste
66559  db22bde4-838a-4ff1-8e85-cac62fd159f9  Barra da Tijuca  Zona Oeste
66560  382599ac-7751-4ade-8a57-bb9633579a46          Ipanema    Zona Sul
66561  c823e3c7-02c7-459d-bb8a-a04847a0a839  Barra da Tijuca  Zona Oeste

[66562 rows x 3 columns]

In [18]:
anuncio = anuncio.join(endereco, 'id', how='left').drop('endereco')
anuncio.toPandas()

66562